.container{
    display: flex;
    background-color: pink;
    width: 400px;
    height: 240px;
    flex-direction: row;
    border: 2px solid black;
}
img{
    width: 200px;
}
.left{
   display: flex;
   width: 30%;
   border: 1px solid black;
   margin: 5px;

}
.right{
    display: flex;
    width: 30%;
    border: 1px solid black;
    margin: 5px;
    
}
p{
    border: 2px solid wheat;
}

@media (max-width:600px) {
    .container{
        flex-direction: column;
    }
}