
.input-error{
  box-shadow: 2px solid red;
}
.input-line{
  color: red;
}
.container{
  margin: 2rem;
  flex-wrap: wrap;
  border: 1.5px solid rgb(255, 255, 255);
  padding: 2rem;
  height: 300px;
 max-width:230px;
  border-radius: 10px;
  box-shadow: 4px 4px rgb(99, 98, 98) ;
background-color: rgb(77, 91, 91);
color: white;
}

